:root {
  --mainColor: #e53170;
  --secondaryColor: #6ecbf2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/*---------------------------


  RESET


------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------


     TYPOGrAPHY


------------------------------*/
body {
  font-family: 'Fredoka', sans-serif;
}
/*---------------------------
  
  
      BUTTONS
  
  
  ------------------------------*/

/*---------------------------
  
  
      GENERAL
  
  
  ------------------------------*/

/*---------------------------
  
  
      INPUT
  
  
  ------------------------------*/

/*---------------------------
  
  
      MAIN
  
  
  ------------------------------*/
.email {
  color: var(--secondaryColor);
}
.title {
  color: var(--mainColor);
}
